@import "../../../assets/styles/resets";
@import "../../../assets/styles/setting";

.create-new-nft {
    padding: 100px 150px;

    h1 {
        text-align: center;
        font-size: 58px;
        font-weight: 500;
        line-height: 72px;
        letter-spacing: -0.003em;
        margin-bottom: 80px;
    }

    .container {
        @include flex(row, flex-start, space-between, 0);

        .form-container {
            @include flex(column, flex-start, space-between, 0);

            form {
                div {
                    @include flex(column, flex-start, space-between, 0);
                }
            }

            input,
            textarea {
                background-color: rgba(243, 243, 243, 1);
                border: none;
                padding: 15px;
            }

            h2,
            label {
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                margin-bottom: 10px;
            }

            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 23px;
                margin-bottom: 15px;
                color: grey;
            }

            #image {
                width: 537px;
                height: 204px;
                padding: 20px;
                border-radius: 20px;
                margin-bottom: 30px;
            }

            #nftname input {
                width: 537px;
                height: 49px;
                border-radius: 10px;
                margin-bottom: 30px;
            }

            #description textarea {
                width: 537px;
                height: 130px;
                border-radius: 10px;
                margin-bottom: 30px;
            }

            #collection button {
                @include flex(row, center, flex-start, 20px);
                width: 537px;
                height: 70px;
                font-size: 18px;
                font-weight: 700;
                border-radius: 10px;
                padding: 20px;

                img {
                    border-radius: 50%;
                }
            }

            .create {
                width: 538px;
                height: 83px;
                border-radius: 15px;
                font-size: 26px;
                font-weight: 700;
                color: snow;
                background: $button-bg-color;
                margin-top: 20px;
                transition: transform 0.2s, box-shadow 0.3s, background-color 0.3s;
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

                &:hover {
                    text-shadow: 3px 3px 3px #427388;
                    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
                }

                &:active {
                    transform: scale(0.95);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .card-preview {
            @include card_hover($color: #FFFFFF);
            @include flex(column, center, space-between, 0);
            border-radius: 15px;
            padding: 15px;
            box-shadow: $card-box-shadow;

            h5 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .img1 {
                border-radius: 15px;
                margin-bottom: 50px;
            }

            .card-art-bottom {
                @include flex(column, center, space-between, 20px);

                .card-art-bottom-left {
                    @include flex(row, center, space-between, 156px);

                    h2 {
                        font-size: 31px;
                        font-weight: 700;
                        line-height: 44px;
                    }

                    h4 {
                        font-size: 20px;
                        font-weight: 400;
                        color: grey;
                    }
                }

                .card-art-bottom-right {
                    @include flex(row, center, space-between, 120px);
                    margin-bottom: 30px;

                    .left {
                        @include flex(row, center, space-between, 20px);

                        img {
                            border-radius: 50%;
                        }

                        h6 {
                            font-size: 26px;
                            font-weight: 700;
                            line-height: 39px;
                        }
                    }

                    .right h5 {
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 39px;
                    }
                }
            }
        }
    }
}

// Media Queries
@media (max-width: $x-large) {
    .create-new-nft {
        padding: 90px 60px;

        h1 {
            font-size: 54px;
        }

        .container .form-container {

            input,
            textarea {
                width: 100%;
            }
        }
    }
}

@media (max-width: $large) {
    .create-new-nft {
        padding: 80px 40px;

        h1 {
            font-size: 40px;
            margin-bottom: 60px;
        }

        .container .form-container {

            input,
            textarea {
                width: 100%;
            }
        }
    }
}

@media (max-width: $medium) {
    .create-new-nft {
        padding: 60px 30px;

        h1 {
            font-size: 36px;
            margin-bottom: 50px;
        }

        .container {
            @include flex(column, center, start, 0);

            .form-container {

                input,
                textarea {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: $small) {
    .create-new-nft {
        padding: 50px 20px;

        h1 {
            font-size: 32px;
            margin-bottom: 40px;
        }

        .container {
            @include flex(column, center, start, 0);

            .form-container {

                input,
                textarea {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                }

                #image {
                    width: 100%;
                    height: auto;
                }

                .create {
                    width: 100%;
                }
            }

            .card-preview {
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}