.table {
    width: 100%;
    text-align: center;

    td {
        border: 1px black solid;
    }

    .dark {
        background-color: #333;
        color: snow;
    }

    .table-container {
        text-align: center;
        margin-top: 20px;
    }

    .table-header {
        background-color: #333;
        color: snow;

        td {
            padding: 10px;
        }
    }
}