@import "../../../assets/styles/resets";
@import "../../../assets/styles/setting";

$small: 600px;
$medium: 950px;
$large: 1200px;
$x-large: 1350px;
$xx-large: 1525px;

.bottom {
    padding: 50px 150px;

    .bottom-over {
        @include flex(row, start, space-between, 0);
        color: $black;
        font-family: sans-serif;

        .left {
            @include flex(column, start, space-between, 10px);

            img {
                margin-bottom: 10px;
            }

            h1 {
                font-size: 42px;
                line-height: 51px;
                font-weight: 500;
            }

            h6 {
                font-size: 15px;
                line-height: 23px;
                font-weight: 400;
                color: $main-grey-color;
            }

            .dark-theme {
                @include flex();
                font-size: 20px;

                .perek {
                    border-radius: 15px;
                    background-color: black;

                    .soln {
                        margin-left: 0.5px;
                        margin-top: 1px;
                        margin-bottom: 0.5px;
                        width: 25px;
                        height: 25px;
                        margin-right: 20px;
                        border-radius: 50%;
                        background-color: red;
                    }
                }
            }
        }

        .right {
            margin-top: 40px;
            @include flex(row, start, space-between, 50px);

            div {
                input {
                    width: 306px;
                    height: 68px;
                    border-radius: 35px;
                    background-color: $main-bg-color;
                    border: 1px black solid;
                    font-size: 15px;
                    line-height: 23px;
                    font-weight: 400;
                }

                h4 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 20px;
                }

                a {
                    font-size: 15px;
                    line-height: 23px;
                    font-weight: 400;
                    margin-bottom: 10px;
                    color: $main-grey-color;
                    display: block;

                    &.active {
                        color: $red;
                        font-weight: bold;
                    }

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }

    .icons {
        @include flex(row, center, flex-start, 67%);
        padding-top: 50px;

        .left {
            color: grey;

            h6 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
            }

            span {
                font-weight: bolder;
                color: black;
                margin-right: 10px;
                padding: 3px 3.5px 0.5px 3.5px;
                border-radius: 50%;
                border: 2px black solid;
            }
        }

        .right {
            @include flex(row, center, space-between, 20px);

            span {
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: 2.5px 3px 5px 3px;
                border-radius: 50%;
                background-color: $icon-bg;
            }
        }
    }

    /* Media Queries */
    @media (max-width: $xx-large) {
        padding: 50px 120px;
    }

    @media (max-width: $x-large) {
        padding: 50px 80px;

        .bottom-over .right div input {
            width: 280px;
        }
    }

    @media (max-width: $large) {
        padding: 40px 60px;

        .bottom-over {
            flex-direction: column;
            align-items: start;

            .right {
                margin-top: 20px;
                gap: 30px;
            }
        }
    }

    @media (max-width: $medium) {
        padding: 30px 40px;
        flex-direction: column;
        gap: 20px;

        .bottom-over .left h1 {
            font-size: 36px;
        }

        .bottom-over .right div input {
            width: 100%;
        }
    }

    @media (max-width: $small) {
        padding: 20px 20px;

        .bottom-over {
            flex-direction: column;
            gap: 10px;

            .icons {
                padding-top: 20px;
                flex-direction: column;
            }

            .right {
                align-items: center;
                text-align: center;

                div input {
                    width: 90%;
                }
            }
        }
    }
}