@import "../../../assets/styles/resets";
@import "../../../assets/styles/setting";


.FeaturedCard {
    padding: 50px 110px;

    .close-button {
        top: -7%;
        right: -0.4%;
        position: absolute;
        cursor: pointer;
    }

    .featured-nft-container {
        @include flex(row, flex-start, space-between, 30px);
        color: $card-color;
        background-color: $main-bg-color;
        border-radius: 15px;
        position: relative;
        padding: 20px;

        .nft-left-container {
            img {
                border-radius: 20px;
                width: 518px;
                height: 580px;
            }
        }

        .nft-right-container {
            padding: 10px 0;

            .nft-right-titles {
                @include flex(column, start, flex-start, 15px);
                color: $card-color;

                h1 {
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 44px;
                    margin-bottom: 10px;
                }

                h6 {
                    font-size: 15px;
                    line-height: 23px;
                    color: $main-grey-color;
                    margin-bottom: 20px;
                }

                .nft-left-ava {
                    @include flex(row, center, space-between, 30px);
                    margin-bottom: 25px;

                    .left,
                    .right {
                        width: 192px;
                        height: 62px;

                        .richard,
                        .michael {
                            @include flex(row, center, start, 15px);
                            padding: 10px 15px;
                            border-radius: 15px;
                            box-shadow: 0px 4px 20px rgba(197, 197, 197, 0.25);
                            background: #fff;

                            img {
                                border-radius: 50%;
                            }

                            span {
                                color: $card-color;
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 26px;
                            }
                        }
                    }
                }

                .description {
                    margin-bottom: 15px;

                    h6 {
                        font-size: 15px;
                        line-height: 23px;
                        margin-bottom: 5px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 26px;
                    }
                }

                .nft-price {
                    @include flex(row, flex-start, space-between, 30px);
                    margin-bottom: 15px;

                    h6 {
                        font-size: 15px;
                        line-height: 23px;
                        margin-bottom: 10px;
                    }

                    h5 {
                        font-size: 26px;
                        font-weight: 500;
                        line-height: 34px;
                    }
                }

                .btn {
                    width: 100%; // По умолчанию кнопка занимает всю ширину
                    max-width: 437px;
                    height: 62px;
                    padding: 15px;
                    border-radius: 15px;
                    font-size: 15px;
                    font-weight: 700;
                    color: snow;
                    background: $button-bg-color;
                    border: none;
                    cursor: pointer;
                    transition: transform 0.2s ease, box-shadow 0.3s ease, background-color 0.3s;
                    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

                    &:hover {
                        text-shadow: 3px 3px 3px #427388;
                        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
                    }

                    &:active {
                        transform: scale(0.95);
                        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }

    @media (max-width: $xx-large) {
        padding: 70px 180px;
    }

    @media (max-width: $x-large) {
        padding: 60px 150px;

        .featured-nft-container {
            @include flex(row, flex-start, space-between, 50px);

            .nft-left-container {
                img {
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    @media (max-width: $large) {
        padding: 50px 100px;

        .featured-nft-container {
            @include flex(column, center space-between, 50px);
            justify-content: center;
            align-items: center;
            text-align: center;

            .nft-right-container {
                .nft-right-titles {
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                }
            }
        }
    }

    @media (max-width: $medium) {
        padding: 40px 50px;

        .featured-nft-container {
            @include flex(column, center space-between, 50px);
            justify-content: center;
            align-items: center;
            text-align: center;

            .nft-right-container {
                .nft-right-titles {
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                }
            }
        }
    }

    @media (max-width: $small) {
        padding: 20px 30px;

        .featured-nft-container {
            @include flex(column, center space-between, 50px);
            justify-content: center;
            align-items: center;
            text-align: center;

            .nft-right-container {
                .nft-right-titles {
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                }
            }
        }
    }
}