.bottom {
    width: 80%;
    margin: 0 auto;
    margin-top: 250px;


    .image-phone {
        display: flex;
        align-content: flex-start;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 30px;
        margin-bottom: 150px;
        color: snow;
        background-color: grey;

        .left {
            h1 {
                font-family: sans-serif;
                font-size: 75px;
            }

            button {
                margin-top: 30px;
                border: 1px solid snow;
                outline: none;
                color: snow;
                background-color: grey;
                padding: 15px 50px;
                border-radius: 20px;

                svg {
                    margin-right: 15px;
                }
            }
        }

        .right {
            img {
                border-radius: 50px;
            }
        }

    }

    .bottom-over {
        display: grid;
        grid-template-columns: 1.3fr 2fr;
        font-family: sans-serif;
        color: black;
        margin-bottom: 20px;

        .left {
            display: grid;
            gap: 15px;

            h6 {
                color: grey;
            }

            .dark-theme {
                display: flex;
                font-size: 20px;

                .perek {
                    border-radius: 15px;
                    background-color: black;

                    .soln {
                        margin-left: 0.5px;
                        margin-top: 1px;
                        width: 25px;
                        height: 25px;
                        margin-right: 20px;
                        border-radius: 50%;
                        background-color: red;
                    }

                }
            }
        }

        .right {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: snow;

            div {
                input {
                    padding: 15px 20px;
                    border-radius: 25px;
                    outline: none;
                    border: 1px black solid;
                }

                h6 {
                    color: grey;
                }
            }

        }

    }

    .icons {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        padding-bottom: 30px;

        .left {
            color: grey;

            span {
                color: black;
                margin-right: 10px;
                padding: 1px 3px 1px 3px;
                border-radius: 50%;
                border: 1px black solid;
            }
        }

        .right {
            span {
                padding: 3px;
                border-radius: 10px;
                margin-left: 15px;
            }
        }

        .right {}
    }
}