@import "../../../assets/styles/resets";
@import "../../../assets/styles/setting";

.explore-nft {
  padding: 80px 150px;

  .header-nft {
    @include flex(row, center, space-between, 0);
    margin-bottom: 50px;

    .left h1 {
      font-family: sans-serif;
      font-size: 40px;
      line-height: 40px;
      font-weight: 700;
    }

    .right button {
      padding: 10px 28px;
      border-radius: 20px;
      border: 1px solid black;
      outline: none;
      font-size: 15px;
      line-height: 23px;
      font-weight: 700;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .nft {
    @include grid(4, 1fr, 30px); // 4 columns with spacing

    .nft-container {
      @include card_hover($button-bg-color);
      background-color: $main-bg-color;
      box-shadow: $card-box-shadow;
      padding: 10px 15px;
      border-radius: 10px;
      margin-bottom: 50px;

      .img-wrapper {
        img {
          width: 100%;
          border-radius: 5px;
        }

        h4 {
          font-family: sans-serif;
          margin: 10px 0;
          font-size: 18px;
          line-height: 26px;
          font-weight: 700;
        }
      }

      .nft-container-bottom {
        @include flex(row, center, space-between, 0);
        margin-bottom: 5px;

        .nft-container-bottom-left {
          @include flex(row, center, flex-start, 0);

          p {
            font-size: 15px;
            line-height: 23px;
            font-weight: 700;
          }

          img {
            margin-right: 9px;
            border-radius: 50%;
          }
        }

        .nft-container-bottom-right {
          @include flex(column, center, space-between, 0);
          font-family: sans-serif;
          margin-right: 10px;

          h6 {
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            color: grey;
          }

          h5 {
            width: 50px;
            height: 23px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
          }
        }
      }
    }
  }

  .bottom-nft {
    @include flex(row, center);

    button {
      padding: 10px 35px;
      border-radius: 15px;
      border: 1px solid $card-color;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  // Media Queries
  @media (max-width: $xx-large) {
    padding: 50px 150px; // Padding for xx-large screens
  }

  @media (max-width: $x-large) {
    padding: 50px 100px; // Padding for x-large screens

    .bottom-over .right div input {
      width: 280px; // Adjust input width
    }
  }

  @media (max-width: $large) {
    padding: 40px 80px; // Padding for large screens

    .bottom-over {
      flex-direction: row; // Layout for bottom-over
      align-items: start;

      .right {
        margin-top: 20px; // Adjust margin
        gap: 30px; // Adjust gap
      }
    }
  }

  @media (max-width: $medium) {
    padding: 30px 50px; // Padding for medium screens
    flex-direction: column; // Column layout
    gap: 20px; // Gap between elements

    .header-nft {
      .left h1 {
        font-size: 36px; // Adjust header size for medium screens
      }
    }

    .nft {
      @include grid(3, 1fr, 25px); // Change to 3 columns for medium screens
    }

    .bottom-over .left h1 {
      font-size: 36px; // Adjust left header size
    }

    .bottom-over .right div input {
      width: 100%; // Adjust input width for medium screens
    }
  }

  @media (max-width: $small) {
    padding: 20px 30px; // Padding for small screens

    .header-nft {
      @include flex(column, center, flex-start, 0);
      margin-bottom: 30px;

      .left h1 {
        font-size: 28px; // Reduce header size for small screens
      }

      .right button {
        font-size: 14px;
        padding: 8px 20px; // Adjust button padding
      }
    }

    .nft {
      @include grid(2, 1fr, 20px); // Change to 2 columns for small screens

      .nft-container {
        margin-bottom: 30px; // Reduce bottom margin
      }
    }

    .bottom-nft {
      flex-direction: column; // Stack buttons vertically

      button {
        margin-bottom: 10px; // Add space between buttons
      }
    }

    .bottom-over {
      flex-direction: column; // Change layout to column for small screens
      gap: 10px;

      .icons {
        padding-top: 20px;
        flex-direction: column; // Stack icons vertically
      }

      .right {
        align-items: center; // Center align items
        text-align: center; // Center text

        div input {
          width: 90%; // Adjust input width for small screens
        }
      }
    }
  }
}