@import "../../../assets/styles/resets";
@import "../../../assets/styles/setting";

.nav {
    padding: 50px 200px;
    @include flex(row, center, space-between, 0);

    .nav-left {
        @include flex();

        input {
            width: 285px;
            height: 52px;
            border-radius: 20px;
            outline: none;
            border: none;
            background-color: $input-bg;
            color: $input-color;
            margin-left: 70px;
        }
    }

    .nav-right {
        @include flex(row, end, space-between, 50px);

        a {
            display: inline-block;
            color: grey;
            padding: 0 15px;

            &.active {
                color: $card-color;
                font-weight: bold;
            }

            &:hover {
                color: $card-color;
            }
        }
    }

    /* Media Queries */
    @media (max-width: $xx-large) {
        padding: 50px 150px;
    }

    @media (max-width: $x-large) {
        padding: 50px 100px;

        .nav-left input {
            margin-left: 50px;
            width: 250px;
        }

        .nav-right {
            gap: 40px;
        }
    }

    @media (max-width: $large) {
        padding: 40px 80px;

        .nav-left input {
            margin-left: 30px;
            width: 220px;
        }

        .nav-right {
            gap: 30px;
        }
    }

    @media (max-width: $medium) {
        padding: 30px 50px;
        flex-direction: column;
        gap: 20px;

        .nav-left {
            width: 100%;
            justify-content: center;

            input {
                margin-left: 0;
                width: 100%;
            }
        }

        .nav-right {
            width: 100%;
            justify-content: space-evenly;
        }
    }

    @media (max-width: $small) {
        padding: 20px 30px;

        .nav-left,
        .nav-right {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .nav-left input {
            width: 90%;
        }

        .nav-right a {
            padding: 10px 0;
        }
    }
}