@import "../../../assets/styles/resets";
@import "../../../assets/styles/setting";

.nav {
    padding: 50px 200px;
    @include flex(row, center, space-between, 0);

    .nav-left {
        @include flex();

        input {
            width: 285px;
            height: 52px;
            border-radius: 20px;
            outline: none;
            border: none;
            background-color: $input-bg;
            color: $input-color;
            margin-left: 70px;
        }
    }

    .nav-right {
        @include flex(row, end, space-between, 50px);

        a {
            display: inline-block;
            color: grey;
            padding: 0 15px;

            &.active {
                color: $card-color;
                font-weight: bold;
            }

            &:hover {
                color: $card-color;
            }
        }

    }
}