@import "../../../assets/styles/resets";
@import "../../../assets/styles/setting";

.DiscoverAmazing-nft {
    padding: 50px 150px;

    .collections {
        text-align: center;
        padding: 30px 0;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 30px;
        }

        .collections-grid {
            @include grid($columns: 3, $size: 1fr, $gap: 20px);
            padding: 0 10px;
        }

        .collection-item {
            padding: 20px;
            background-color: $main-bg-color;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

            &:hover {
                transform: scale(1.05);
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 5px;
            }

            .collection-info {
                padding: 15px;
                text-align: left;
                color: #bbb;

                h2 {
                    color: black;
                    font-size: 1.5rem;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .series {
        padding: 30px 0;
        text-align: center;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 30px;
            color: #FF56BB;
        }

        .series-grid {
            @include grid($columns: 1, $size: 1fr);
            padding: 0 10px;
        }

        .series-item {
            padding: 20px;
            background-color: $main-bg-color;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            margin-bottom: 40px;
            &:hover {
                transform: scale(1.05);
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .series-info {
                padding: 15px;
                text-align: left;
                color: black;

                h2 {
                    font-size: 1.5rem;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 1rem;
                    color: #bbb;
                }
            }
        }
    }


    .title {
        @include flex(column, center, space-between, 50px);
        padding: 50px 0;

        h1 {
            font-size: 70px;
            line-height: 84px;
            font-weight: 500;
            font-family: sans-serif;
        }

        input {
            width: 544px;
            height: 60px;
            outline: none;
            border: none;
            background-color: $input-bg;
            color: $input-color;
            border-radius: 30px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            background-color: $input-bg;
            color: $input-color;
        }
    }

    .header-nft {
        @include flex(row, center, space-between, 0);
        padding: 50px 0;

        .left {
            h1 {
                font-family: sans-serif;
                font-size: 40px;
                line-height: 40px;
                font-weight: 700;
            }

        }

        .right {
            button {
                padding: 10px 28px;
                border-radius: 20px;
                border: 1px black solid;
                outline: none;

                font-size: 15px;
                line-height: 23px;
                font-weight: 700;
            }
        }
    }

    .buttons {
        padding: 10px 0;
        @include flex(row, center, flex-start, 20px);

        button {
            width: 161px;
            height: 47px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 700;
            border-radius: 20px;

            cursor: pointer;
            transition: all 0.3s ease;
            margin-right: 10px;
            color: black;
            background-color: transparent;

            &:hover {
                background-color: #FF56BB;
                color: snow;
            }

            &.active {
                background-color: #FF56BB;
                color: snow;
            }
        }
    }


    .nft {
        @include grid(4, 1fr, 30px);
        padding-top: 30px;

        .nft-container {
            background-color: $main-bg-color;
            box-shadow: $card-box-shadow;
            padding: 10px 15px 10px 10px;
            border-radius: 10px;
            margin-bottom: 30px;
            @include card_hover($color: #FFFFFF);

            .img-wrapper {
                img {
                    width: 100%;
                    border-radius: 5px;
                }

                h4 {
                    font-family: sans-serif;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 700;
                }
            }

            .nft-container-bottom {
                @include flex(row, center, space-between, 0);
                margin-bottom: 5px;

                .nft-container-bottom-left {
                    @include flex(row, center, space-between, 0);

                    p {
                        font-size: 15px;
                        line-height: 23px;
                        font-weight: 700;
                    }

                    img {
                        margin-right: 9px;
                        border-radius: 50%;
                    }
                }

                .nft-container-bottom-right {
                    @include flex(column, center, space-between, 0);
                    font-family: sans-serif;
                    margin-right: 10px;

                    h6 {
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 400;
                        color: grey;
                    }

                    h5 {
                        width: 50px;
                        height: 23px;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .bottom-nft {
        @include flex(row, center);
        padding: 20px 0;

        button {
            font-size: 15px;
            line-height: 23px;
            font-weight: 700;

            padding: 10px 50px;
            border-radius: 25px;
            border: 1px $card-color solid;
        }
    }
}