.main {
    width: 100%;
    margin: 0 auto;
    .navbar {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        margin-bottom: 30px;
        .navbar-left {
            display: flex;
            align-items: center;
            justify-content: space-around;

            input {
                padding: 10px 20px;
                border-radius: 10px;
                outline: none;
                border: none;
                background-color: grey;
                color: lightgrey;
            }
        }

        .navbar-right {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}