@import "../../../assets/styles/resets";
@import "../../../assets/styles/setting";

.becomeartist {
    padding: 50px 150px;
    position: relative;

    .become-header {
        @include flex(row, center, space-between, 20px);
        text-align: center;
        position: relative;
        padding: 150px 0;

        .left,
        .right {
            @include flex(column, center, space-between, 0);

            .nft-container1,
            .nft-container2,
            .nft-container3,
            .nft-container4 {
                @include card_hover($button-bg-color);
                background-color: $main-bg-color;
                box-shadow: $card-box-shadow;
                padding: 8px;
                border-radius: 10px;
                margin-bottom: 50px;

                .img-wrapper {
                    img {
                        border-radius: 5px;
                        width: 192px;
                        height: 193px;
                    }

                    h4 {
                        @include flex(row, start, start, 0);
                        margin: 10px 0;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 18px;
                        font-family: sans-serif;
                    }
                }

                .nft-container-bottom {
                    @include flex(row, center, space-between, 0);
                    margin-bottom: 5px;

                    .nft-container-bottom-left {
                        @include flex(row, center, space-between, 0);

                        p {
                            font-size: 10px;
                            line-height: 16px;
                            font-weight: 700;
                        }

                        img {
                            margin-right: 9px;
                            border-radius: 50%;
                        }
                    }

                    .nft-container-bottom-right {
                        @include flex(column, center, space-between, 0);
                        margin-right: 10px;
                        font-family: sans-serif;

                        h6 {
                            font-size: 9px;
                            line-height: 12px;
                            color: grey;
                            font-weight: 400;
                        }

                        h5 {
                            width: 35px;
                            height: 17px;
                            font-size: 14px;
                            line-height: 20px;
                            @include flex();
                        }
                    }
                }
            }

            .nft-container1 {
                position: absolute;
                top: 0%;
                left: -5%;
            }

            .nft-container2 {
                position: absolute;
                top: 50%;
                left: 5%;
            }

            .nft-container3 {
                position: absolute;
                top: 5%;
                right: 5%;
                z-index: 2;
            }

            .nft-container4 {
                position: absolute;
                top: 52%;
                right: -5%;

            }
        }

        .center {
            h1 {
                font-size: 69px;
                line-height: 85px;
                font-weight: 500;
            }

            p {
                font-size: 18px;
                line-height: 26px;
                font-weight: 400;
            }

            button {
                margin-top: 30px;
                width: 245px;
                height: 60px;
                border-radius: 15px;
                padding: 15px;
                font-size: 18px;
                line-height: 26px;
                background: $button-bg-color;
                color: $main-bg-color;
                cursor: pointer;
                z-index: 1;
                transition: transform 0.2s ease, box-shadow 0.3s ease, background-color 0.3s;
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

                &:hover {
                    text-shadow: 3px 3px 3px #427388;
                    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
                }

                &:active {
                    transform: scale(0.95);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }


    .become-center {
        padding: 150px 0;

        h1 {
            margin: 15px 0;
            font-size: 45px;
            line-height: 55px;
            font-weight: 500;
        }

        p {
            margin: 15px 0;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
        }

        button {
            @include flex(row, center, center, 0);
            margin: 15px 0;
            width: 185px;
            height: 45px;
            font-size: 14px;
            line-height: 22px;
            font-weight: 700;
            padding: 20px;
            border-radius: 20px;
            color: snow;
            background-color: #6E56FF;
            z-index: 1;
            transition: transform 0.2s ease, box-shadow 0.3s ease, background-color 0.3s;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

            &:hover {
                text-shadow: 3px 3px 3px #427388;
                box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
            }

            &:active {
                transform: scale(0.95);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            }
        }

        .become-top,
        .become-center,
        .become-bottom {
            @include flex(row, center, space-evenly, 100px);
        }

        .become-top,
        .become-center,
        .become-bottom {

            .imgleft,
            .imgright {
                @include card_hover($button-bg-color);
                box-shadow: $card-box-shadow;
            }

            .left,
            .right {
                div {
                    @include flex(column, center, center, 0);
                    width: 386px;
                    height: 361px;
                    background-color: $main-bg-color;
                    background: radial-gradient(50% 50% at 50% 50%,
                            #ffc27a 0%,
                            rgba(255, 119, 21, 0.5) 50%,
                            rgba(250, 237, 255, 0) 100%);
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    h2 {
                        font-size: 26px;
                        line-height: 32px;
                        font-weight: 500;
                    }

                    img {
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    @media (max-width: $xx-large) {
        padding: 50px 100px;

        .left,
        .right {

            .nft-container1,
            .nft-container2,
            .nft-container3,
            .nft-container4 {
                width: 100%;
                margin: 20px 0;
            }
        }
    }

    @media (max-width: $x-large) {
        padding: 40px 80px;

        .become-header {
            padding: 0;

            .left,
            .right {

                .nft-container1,
                .nft-container2,
                .nft-container3,
                .nft-container4 {
                    position: relative;

                }

                .nft-container1 {
                    left: -10%;
                }

                .nft-container2 {
                    left: 10%;
                }

                .nft-container3 {
                    right: 10%;
                }

                .nft-container4 {
                    right: -10%;
                }
            }
        }

        .become-center {
            padding: 0 50px;
            @include flex(column, center, space-between, 30px);

            .become-top,
            .become-center,
            .become-bottom {
                @include flex(row, center, space-between, 50px);
            }

            .become-top {
                position: relative;
                left: -5%;
            }

            .become-center {
                position: relative;
                left: 5%;
            }

            .become-bottom {
                position: relative;
                left: -5%;
            }
        }
    }

    @media (max-width: $large) {
        padding: 30px 50px;

        .bottom-over {
            flex-direction: row;
            align-items: flex-start;

            .right {
                margin-top: 20px;
                gap: 30px;
            }
        }

        .become-center {
            @include flex(column, center, space-between, 30px);

            .become-top,
            .become-center,
            .become-bottom {
                @include flex(row, center, space-between, 50px);
            }

            .become-top {
                position: relative;
            }

            .become-center {
                position: relative;
            }

            .become-bottom {
                position: relative;
            }
        }
    }

    @media (max-width: $medium) {
        flex-direction: column;
        gap: 20px;

        .become-header {
            @include flex(column, center, space-between, 20px);
            text-align: center;
            padding: 100px 0;

            .left,
            .right {
                @include flex(row, center, space-between, 0);

                .nft-container1,
                .nft-container2,
                .nft-container3,
                .nft-container4 {
                    position: relative;
                }



            }
        }

        .bottom-over .left h1 {
            font-size: 36px;
        }

        .bottom-over .right div input {
            width: 100%;
        }

        .become-center {
            @include flex(column, center, space-between, 30px);

            button {
                margin-left: 25%;
            }

            .become-top,
            .become-center,
            .become-bottom {
                text-align: center;
                @include flex(column, center, space-between, 10px);
            }

            .become-top {
                position: relative;
                left: -20%;
            }

            .become-center {
                position: relative;
                left: 15%;
            }

            .become-bottom {
                position: relative;
                left: -20%;
            }
        }
    }

    @media (max-width: $small) {
        padding: 20px 30px;

        .become-header {
            @include flex(column, center, space-between, 20px);
            text-align: center;
            padding: 100px 0;

            .left,
            .right {
                @include flex(column, center, space-between, 0);

                .nft-container1,
                .nft-container2,
                .nft-container3,
                .nft-container4 {
                    position: relative;

                }

                .nft-container1 {
                    left: -50%;
                }

                .nft-container2 {
                    left: 50%;
                }

                .nft-container3 {
                    right: 50%;
                }

                .nft-container4 {
                    right: -50%;
                }


            }
        }


        .bottom-over {
            flex-direction: column;
            gap: 10px;

            .icons {
                padding-top: 20px;
                flex-direction: column;
            }

            .right {
                align-items: center;
                text-align: center;

                div input {
                    width: 90%;
                }
            }
        }

        .become-center {
            @include flex(column, center, space-between, 80px);

            button {
                margin-left: 90px;
            }

            .become-top,
            .become-center,
            .become-bottom {
                @include flex(column, center, space-between, 20px);
                text-align: center;
            }

            .become-top {
                position: relative;
                left: 0;
            }

            .become-center {
                position: relative;
                left: 0;
            }

            .become-bottom {
                position: relative;
                left: 0;
            }
        }
    }
}