@import "../../../assets/styles/resets";
@import "../../../assets/styles/setting";

.frequently-wrapper {
    padding: 50px 180px;

    .top {
        @include flex(column, center, space-between, 0);
        text-align: center;

        h6 {
            color: grey;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
        }

        h1 {
            padding: 15px 0;
            font-size: 59px;
            line-height: 72px;
            font-weight: 500;
        }

        p {
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
        }

        input {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 572px;
            height: 52px;
            padding: 20px;
            border-radius: 20px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            background-color: $input-bg;
            color: $input-color;
        }

        .buttons {
            @include flex(row, center, space-between, 15px);
            margin-top: 10px;
            margin-bottom: 30px;

            button {
                @include flex(row, center, space-between, 0);
                justify-content: center;
                width: 161px;
                height: 47px;
                font-weight: 700;
                font-size: 18px;
                line-height: 26px;
                padding: 22px;
                border-radius: 20px;
                background-color: $main-bg-color;
                color: grey;
            }
        }
    }

    .general {
        @include flex(column, center, space-between, 0);

        .container {
            @include flex(row, center, space-between, 0);
            width: 810px;
            height: 62px;
            padding: 18px 28px 18px 51.12px;
            gap: 11.43px;
            border-radius: 16px;
            background-color: $light;
            color: black;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 4.57px 54.85px 0px rgba(197, 197, 197, 0.25);

            button {
                background-color: $light;
                cursor: pointer;
                font-weight: bold;
                font-size: 20px;
            }
        }

        .text {
            @include flex(column);
            margin-top: 20px;
            margin-right: 80px;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;

            overflow: hidden;
            transition: max-height 0.3s ease, padding 0.3s ease;
            max-height: 0;
            padding: 0;
        }

        .text-visible {
            max-height: 200px;
            padding: 10px 0;
            margin-bottom: 10px;
        }
    }

    .center-art {
        @include flex(row, center, space-between, 40px);

        .nft-art {
            @include card_hover($button-bg-color);
            background-color: $main-bg-color;
            box-shadow: $card-box-shadow;
            color: $card-color;
            padding: 10px 15px 20px 10px;
            border-radius: 10px;

            img {
                width: 250px;
                height: 250px;
                border-radius: 10px;
            }

            h4 {
                padding: 10px 0;
                font-size: 18px;
                font-family: sans-serif;
                font-weight: 700;
                line-height: 26px;
            }

            .nft-art-bottom {
                @include flex(row, center, space-between, 0);
                margin-bottom: 5px;

                .nft-art-bottom-left {
                    @include flex(row, center, space-between, 0);

                    p {
                        color: $card-color;
                        font-weight: 700;
                        font-family: sans-serif;
                        font-size: 15px;
                        line-height: 23px;
                    }

                    img {
                        width: 28px;
                        height: 28px;
                        margin-right: 5px;
                        border-radius: 50%;
                    }
                }

                .nft-art-bottom-right {
                    display: grid;
                    text-align: center;
                    font-family: sans-serif;

                    h6 {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        color: grey;
                    }

                    h5 {
                        font-size: 15px;
                        line-height: 16px;
                        color: $card-color;
                    }
                }
            }
        }
    }
}

// Media Queries
@media (max-width: $xx-large) {
    .frequently-wrapper {
        padding: 50px 150px;
    }

    .top {
        h1 {
            font-size: 60px; // Adjust if necessary
        }

        input {
            width: 100%; // Full width for inputs
        }
    }
}

@media (max-width: $x-large) {
    .frequently-wrapper {
        padding: 50px 100px;

        .top {
            input {
                width: 280px; // Set specific width for inputs
            }
        }

        .general {
            @include flex(column, center, space-between, 0);

            .container {
                width: 100%;
            }
        }

        .nft {
            .center-art {
                display: grid;
                grid-template-columns: 1fr 1fr;
                img{
                    width: 100%;
                }
            }

        }

    }
}

@media (max-width: $large) {
    .frequently-wrapper {
        padding: 40px 80px;

        .bottom-over {
            flex-direction: row;
            align-items: start;

            .right {
                margin-top: 20px;
                gap: 30px;
            }
        }
    }
}

@media (max-width: $medium) {
    .frequently-wrapper {
        padding: 30px 50px;
        flex-direction: column;
        gap: 20px;

        .top {
            h1 {
                font-size: 36px; // Adjust the font size
            }

            input {
                width: 100%; // Full width for inputs
            }
        }
    }
}

@media (max-width: $small) {
    .frequently-wrapper {
        padding: 20px 30px;



        .bottom-over {
            flex-direction: column;
            gap: 10px;

            .icons {
                padding-top: 20px;
                flex-direction: column;
            }

            .right {
                align-items: center;
                text-align: center;

                div input {
                    width: 90%; // Adjust width for small screens
                }
            }
        }


    }
}